<a href="https://colab.research.google.com/github/VVdovichev/ML_in_Business/blob/main/HW_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Теоритическая часть.

__1.__  Если мы рассчитали 95% доверительный интервал для среднего значения, то какие из следующих утверждений являются верными?
Выберите несколько вариантов и попытайтесь объяснить свой выбор:

1) Если многократно повторять эксперимент, то 95 % выборочных средних значений будут принадлежать рассчитанному нами доверительному интервалу.

2) Мы можем быть на 95% уверены, что среднее значение в генеральной совокупности принадлежит рассчитанному доверительному интервалу.

3) Если многократно повторять эксперимент, для каждой выборки рассчитывать свой доверительный интервал, то в 95 % случаев истинное среднее будет находиться внутри доверительного интервала.

4) Среднее значение в генеральной совокупности точно превышает нижнюю границу 95% доверительного интервала.

5) Среднее значение в генеральной совокупности точно принадлежит рассчитанному доверительному интервалу.

### Ответ 1,3 так как 95% доверительный интервал будет включать истинное математическое ожидание генеральной совокупности в 95% всех построенных интервалах.

__2.__  Если мы увеличиваем объем выборки в два раза (при условии, что показатель стандартного отклонения остается неизменным), то 95% доверительный интервал
Выберите один вариант из списка

1) стал более узким \\
2) возможны оба варианта \\
3) стал более широким

### Ответ 1, интервал станет более узким.

__3.__ В центре 95% доверительного интервала, рассчитанного по выборочным значениям, находится:
Выберите один вариант из списка

1) Значение стандартной ошибки среднего \\
2) Выборочное среднее значение \\
3) Среднее значение генеральной совокупности

### Ответ 3

__4.__  Часто на практике нулевая гипотеза отклоняется, и различия считаются статистически достоверными, если p < 0,05. Однако часто в статистике используется более жесткий критерий достоверности различий, например, при условии, что p < 0,01. Значение p-уровня значимости, которое выбирается, в качестве порога обозначается буквой α (альфа). Например, если исследователь решил, что α = 0,05, то и нулевая гипотеза будет отклоняться при условии, что p < 0,05.
Если в определенной ситуации весьма рискованно отклонить нулевую гипотезу, когда она на самом деле верна, то лучше использовать показатель α равный
Выберите один вариант из списка

1) 0,1 \\
2) 0,001 \\
3) 0,05 \\
4) 0,5

### Ответ 2, данное значение крайне мало в сравнении с 0,05 ,и  отражает вероятность ошиьки 1го рода.

__5.__ Данные некоторого исследования сообщают нам, что средний рост детей в 14 лет составляет 166 сантиметров. Однако это лишь выборочная оценка, и исследователи рассчитали 95% доверительный интервал, который составил [160, 172]. Укажите верные утверждения:
Выберите несколько вариантов и попытайтесь объяснить свой выбор:

1) У нас достаточно оснований отклонить нулевую гипотезу, что среднее в генеральной совокупности равняется 173. \\
2) Вероятность того, что истинное среднее значение больше 172, составляет
0,01. \\
3) У нас достаточно оснований отклонить нулевую гипотезу, что среднее в генеральной совокупности равняется 158. \\
4) Доверительный интервал не может иметь такие границы, т. к. выборочное стандартное отклонение равняется 10, следовательно доверительный интервал должен быть значительно шире.

### Ответ 1,3 так как значения не входят в границы интервала.

__6.__ Предположим, нулевой гипотезой вашего исследования являлось предположение, что конверсия в генеральной совокупности равняется 0.4. Вы получили p = 0,12 и не смогли отклонить нулевую гипотезу. Однако позже выяснилось, что конверсия в генеральной совокупности действиетльно равна 0.4. Как можно оценить результаты?
Какой вариант корректный по вашему мнению и почему? \\
1) Вы не совершали ни ошибку первого рода, ни ошибку второго рода. \\
2) Вы совершили ошибку первого рода \\
3) Вы совершили ошибку второго рода

### Ответ 1, нулевая гипотеза верна.

## Практическая часть.

In [36]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
import statsmodels

from scipy.stats import mannwhitneyu

In [37]:
df = pd.read_csv('ab_datas.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
 5   revenue       294478 non-null  int64
dtypes: int64(3), object(3)
memory usage: 13.5+ MB

In [38]:
df.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
revenue         0
dtype: int64

In [39]:
df.describe()

             user_id      converted        revenue
count  294478.000000  294478.000000  294478.000000
mean   787974.124733       0.119659     101.967719
std     91210.823776       0.324563     103.602744
min    630000.000000       0.000000       0.000000
25%    709032.250000       0.000000       0.000000
50%    787933.500000       0.000000     100.000000
75%    866911.750000       0.000000     250.000000
max    945999.000000       1.000000     250.000000

Пропусков и выбросов нет.

In [40]:
convert_contr = sum(df.query("group == 'control'")['converted'])
convert_treat = sum(df.query("group == 'treatment'")['converted'])
n_rows = df.shape[0]
#объем тестовой группы
n_rows_treat = len(df[df['group'] == 'treatment'])

#объем контрольной группы
n_rows_contr = n_rows-n_rows_treat

In [41]:
z_score, p_value = sm.stats.proportions_ztest([convert_treat, convert_contr], [n_rows_treat, n_rows_contr], 
                                              alternative='larger')

print(f"Z-статистика={z_score},  p_value={p_value}")

Z-статистика=-1.2369217547321678,  p_value=0.8919419336512124

In [42]:
t_score, p_value, _ = statsmodels.stats.weightstats.ttest_ind(df.query("group == 'treatment'")['converted'],
                                                              df.query("group == 'control'")['converted'],
                                                              alternative="larger",
                                                              usevar='unequal')
print(f"T-статистика={t_score},  p_value={p_value}")

T-статистика=-1.2369191070650731,  p_value=0.8919409489056533

In [43]:
w_score, p_value = mannwhitneyu(df.query("group == 'treatment'")['converted'], 
                         df.query("group == 'control'")['converted'],
                         alternative="greater")
print(f"T-статистика={w_score},  p_value={p_value}")

T-статистика=10823622516.0,  p_value=0.8919415509213815

### Все три критерия показали большую значимость альтернативной гипотезы.